/*THIS IS FOR TOGGLE EFFECT*/

body.light{
    background: #d1dae3;
}

body.light .clock{
    background: #d1dae3, url(image/clock.png);/*You will need png to be placed here and it is downloadable*/ 
    background-size: cover;
    border: 4px solid #cad3dc;
    /*box-shadow: 0 -15px 15px rgba(255,255,255,0.5),
    inset 0 -15px 15px rgba(255,255,255,0.3),
    0 15px 15px rgba(0,0,0,0.5),
    inset 0 15px 15px rgba(0,0,0,0.3);*/
    /*Is a nicer box shadow you would reconsider it in any of your project..*/    
    box-shadow: -8px -8px 15px rgba(255,255,255,0.5),
    10px 10px 10px rgba(0,0,0,0.1),
    inset -8px -8px -15px rgba(255,255,255,0.5),
    inset 10px 10px 10px rgba(0,0,0,0.1);
}

body.light .clock::before{
    background: #008eff;
}

body.light .mn::before{
    background: #091921;
}
body.light .sc::before{
    background: #008eff;
}